name: 'checkcheckcheck'

on:
  push:
  schedule:
    - cron: '30 * * * *'

jobs:
  stale:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          python-version: ['3.9.7']
      steps:
      - uses: actions/checkout@v2 # Checking out the repo
      - name: Install dependecies
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: install -d # Install all dependencies, including development ones
      - name: Build
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run build
      - name: Commit and push if changed
        run: |
          git diff
          git config --global user.email "kno30826@gmail.com"
          git config --global user.name "i0Ek3"
          git add .
          git commit -m "Auto update by Github Action"
          git push
